
<mat-toolbar class="header theme">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Energyviss / Live Dashboard</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with histry icon">
        <mat-icon>history</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with alarm icon">
        <mat-icon>alarm</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with person icon">
       <mat-icon>person</mat-icon>
     </button>
</mat-toolbar>